{% extends 'app001/base_index.html' %}

{% block content %}
<div class='template_name'>項目啟動日期︰2016-08-13</div>
        {% if item_list %}
        <table>
            <tr>
                <!--<th></th>-->
                <th>佈告編號</th>
                <!--<th>廠別</th>-->
                <!--<th>資料名稱</th>-->
                <th>輔導上線人員 - 管理人員 - 資料維護人員</th>
                <th>補充說明</th>
                
            </tr>
            
            {% for item in item_list %}
            <tr>
                <!--<th>{{ item.field1 }}</th>-->
                <!--<td><a target='_blank' href='{{ item.field2 }}'>{{ item.field2 }}</a></td>-->
                <td class='text_left'><a class='item_list' href='{{ item.field2 }}'>{{ item.field1 }}</a></td>
                <!--<td>{{ item.field3 }}</td>-->
                <!--<td>{{ item.field4 }}</td>-->
                <td class='text_left'>{{ item.field5 }}</td>
                <td  class='text_left'>{{ item.field6 }}</td>
            </tr>
            {% endfor %}

        </table>
        <div class='notice'>
            
        <mark>
            
        請使用最新版 Firefox 火狐浏览器，官網下載，
        <a target='_blank' href='http://www.firefox.com.cn/download/'>http://www.firefox.com.cn/download/</a>
        </mark>
        </div>
        
        {% else %}
        <h3>
        <p>有權限查看資料人員，請由此<mark><a target='_blank' href='../admin/login/?next=/app001/'>登入</a></mark>查看。</p>
        <p>維護資料人員，請由此<mark><a target='_blank' href='../../admin'>登入</a></mark>維護。</p>
    
        </h3>
        
        {% endif %}

{% endblock %}